* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.168); /* 0.168 chính là opacity*/
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  
  background-color: #fff;
}

.navbar-nav {
  display: flex;
  
}

.nav-link, .navbar-logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    letter-spacing: 4px;
    line-height: 22.5px;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    list-style-type: none;
}

    

.navbar-logo:hover {
    background-color: #ccc;
}
.nav-link:hover {
    background-color: #ccc;
}